parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:roles\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:users\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Parameter \#1 \$organization of method App\\Models\\User\:\:setCurrentOrganization\(\) expects App\\Models\\Organization, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Parameter \#2 \$organisation of event class App\\Events\\RolesAssignedToUser constructor expects App\\Models\\Organization in App\\Events\\RolesAssignedToUser\:\:dispatch\(\), Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Parameter \#2 \$organisation of event class App\\Events\\UserJoinedOrganisation constructor expects App\\Models\\Organization in App\\Events\\UserJoinedOrganisation\:\:dispatch\(\), Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Variable \$roleIds in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: app/Actions/AcceptInvitationAction.php

		-
			message: '#^Access to an undefined property App\\Models\\Organization\:\:\$ownerData\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/CreateOrganisationAction.php

		-
			message: '#^Attribute class Illuminate\\Console\\Command\\Attributes\\AsCommand does not exist\.$#'
			identifier: attribute.notFound
			count: 1
			path: app/Console/Commands/CreateAdminUser.php

		-
			message: '#^Access to an undefined property App\\Models\\Invitation\:\:\$is_expired\.$#'
			identifier: property.notFound
			count: 1
			path: app/Exceptions/InvitationException.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/AcceptInvitationController.php

		-
			message: '#^Parameter \#1 \$user of static method Illuminate\\Support\\Facades\\Auth\:\:login\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, \(Illuminate\\Database\\Eloquent\\Model&object\{pivot\: Illuminate\\Database\\Eloquent\\Relations\\Pivot\}\)\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/OnboardOrganisationController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model&object\{pivot\: Illuminate\\Database\\Eloquent\\Relations\\Pivot\}\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Middleware/RedirectIfAuthenticated.php

		-
			message: '#^Parameter \#2 \$passwordTimeoutSeconds of method Illuminate\\Auth\\Middleware\\RequirePassword\:\:shouldConfirmPassword\(\) expects int\|null, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Middleware/RequirePasswordWithOrganization.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$accepted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$expires_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$invited_by\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$organization_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\InvitationResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/InvitationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$deleted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$phone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrganizationResource\:\:\$website\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrganizationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\PermissionResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/PermissionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$organization_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\TeamResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TeamResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\TeamResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TeamResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\TeamResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TeamResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\TeamResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TeamResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\TeamResource\:\:\$organization_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TeamResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\TeamResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TeamResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\TeamResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TeamResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$date_of_birth\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$email_verified_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$middle_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$phone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$profile_photo_url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$uid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Mail/OrganizationInvitationMail.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Mail/OrganizationInvitationMail.php

		-
			message: '#^Ternary operator condition is always false\.$#'
			identifier: ternary.alwaysFalse
			count: 1
			path: app/Mail/OrganizationInvitationMail.php

		-
			message: '#^Using nullsafe property access "\?\-\>full_name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Mail/OrganizationInvitationMail.php

		-
			message: '#^Access to an undefined property App\\Models\\Invitation\:\:\$is_expired\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Invitation.php

		-
			message: '#^Access to an undefined property App\\Models\\Invitation\:\:\$is_pending\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Invitation.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Organization.php

		-
			message: '#^Method App\\Models\\Organization\:\:findInvitationByToken\(\) should return App\\Models\\Invitation\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Organization.php

		-
			message: '#^Method App\\Models\\Organization\:\:inviteUser\(\) should return App\\Models\\Invitation but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Organization.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(App\\Models\\Role\) and ''sluggableUniqueColu…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Models/Role.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Scopes/UserOrganizationScope.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:hasUser\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Team.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:users\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Team.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(App\\Models\\Team\) and ''sluggableUniqueColu…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Models/Team.php

		-
			message: '#^Trait App\\Models\\Traits\\OrganizationScoped is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Models/Traits/OrganizationScoped.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Notifications/OrganisationInvitationNotification.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/OrganisationInvitationNotification.php

		-
			message: '#^Cannot call method toDateTimeString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Notifications/OrganisationInvitationNotification.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Policies/InvitationPolicy.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Policies/OrganizationPolicy.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Policies/PermissionPolicy.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Policies/RolePolicy.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Policies/TeamPolicy.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Policies/UserPolicy.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/InvitationService.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/InvitationService.php

		-
			message: '#^Method App\\Services\\InvitationService\:\:createWithToken\(\) should return App\\Models\\Invitation but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Services/InvitationService.php

		-
			message: '#^Parameter \#1 \$invitation of event class App\\Events\\InvitationCreated constructor expects App\\Models\\Invitation in App\\Events\\InvitationCreated\:\:dispatch\(\), Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/InvitationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/OrganizationOnboardingService.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/OrganizationOnboardingService.php
